<!DOCTYPE html>
<html>
    {% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/loginstyle.css' %}">
   
    <link rel="stylesheet" href="https://unpkg.com/codyhouse-framework/main/assets/css/style.min.css">
    <title>Check Page</title>
</head>
<body style="background-color: #FFEDE1;">

    <div class="login-container" style="margin-top: 10%; margin-left: 30%;margin-right: 30%;">
        <p>{% for msg in messages %}
            {{msg}}
            {% endfor %}</p>
        <form class="login-form" action="/checkpage/<str:ik>/<str:hk>" method="POST">
            {% csrf_token %}


            <div class="margin-bottom-sm">
               
                <input  style=" color: #341D30; background: #FFEDE1;  " class="form-control width-100%" type="text" name="comment"
                    id="comment" placeholder="Comments">
            </div>


            <div class="margin-bottom-sm">
               
                <input  style=" color: #341D30; background: #FFEDE1;  " class="form-control width-100%" type="text" name="statuss"
                    id="statuss" placeholder="Status">
            </div>

            

            <div class="margin-bottom-sm">
               
                <input  style=" color: #341D30; background: #FFEDE1;  " class="form-control width-100%" type="text" name="yearfor"
                    id="yearfor" placeholder="Year">
            </div>


            
            <div class="margin-bottom-sm">
               
                <input  style=" color: #341D30; background: #FFEDE1;  " class="form-control width-100%" type="text" name="companyid"
                    id="companyid" placeholder="Company ID">
            </div>
           

            <div class="margin-bottom-sm button-color">
                <button class="btn btn--primary btn--md width-100%" style="background-color: #341D30;">Submit Status</button>
            </div> 
            




           
        </form>
    </div>






    <script src="https://unpkg.com/codyhouse-framework/main/assets/js/util.js"></script>

    <script src="" async defer></script>
</body>

</html>