
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://unpkg.com/codyhouse-framework/main/assets/css/style.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/searchpagestyle.css' %}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Page</title>
</head>

<body>

  <nav>
    <h1 style="color:#FFEDE1;">TUTFINDER</h1>
    <ul class="nav-col">
      <li class="nav-list"><a class="nav-links" href="/index">Home</a></li>
      <li class="nav-list"><a class="nav-links" href="Student Dashboard_San/test/index.html">DashBoard</a></li>
      <li class="nav-list"><a class="nav-links" href="contact.html">Connect</a></li>
      <img class="avatar" src="https://picsum.photos/200/200" alt="" />
    </ul>
  </nav>

  <br>
  <br>


  <div class="container-fluid">
    <div class="row">
      <div style="margin-top: 150px;
                        padding-left: 200px;
                        padding-right: 200px;
                        " class=" col-xs-4">
        <div class="input-group mb-3">
          <input type="text" style="background-color: #FFEDE1;border: 3px solid  #341D30;" class="form-control" placeholder="Search your need" aria-label="Recipient's username" aria-describedby="button-addon2" style="border: 1px solid #341D30;">
          <button style="--bs-btn-color: #341D30;
          border: 3px solid  #341D30;
    --bs-btn-border-color: #341D30;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #341D30;
    --bs-btn-hover-border-color: #341D30;
    --bs-btn-focus-shadow-rgb: 108,117,125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #341D30;
    --bs-btn-active-border-color: #341D30;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #341D30;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #341D30;
    --bs-gradient: none;" class="btn btn-solid-secondary" type="button" id="button-addon2">Search</button>
        </div>

      </div>
    </div>





  </div>


  <br>
  <br>








  <div class="row">




    <div class="col-sm-3">
      <div class="filters">
        <div class="container-fluid">
          <h3>Subject Filters</h2>
            <div class="multi-select-v2 js-multi-select-v2">

              <div class="list-filter  js-list-filter">
                <div class="list-filter__form space-unit-rem bg-light radius-md shadow-sm inner-glow">
                  <div class="position-relative border-bottom border-contrast-lower no-js:is-hidden">
                    <input autocomplete="off" class="reset list-filter__search padding-sm text-sm js-list-filter__search" type="search" name="list-filter" id="list-filter" placeholder="Search">
                    <span class="list-filter__focus-marker" aria-hidden="true"></span>
                    <button class="reset list-filter__search-cancel-btn js-list-filter__search-cancel-btn right-sm js-tab-focus" type="button">
                      <svg class="block icon icon--xs" viewBox="0 0 16 16">
                        <title>Reset selection</title>
                        <path d="M8,0a8,8,0,1,0,8,8A8,8,0,0,0,8,0Z" fill="var(--color-contrast-medium)" />
                        <path d="M9.414,8l2.293-2.293a1,1,0,1,0-1.414-1.414L8,6.586,5.707,4.293A1,1,0,0,0,4.293,5.707L6.586,8,4.293,10.293a1,1,0,1,0,1.414,1.414L8,9.414l2.293,2.293a1,1,0,0,0,1.414-1.414Z" fill="var(--color-bg)" />
                      </svg>
                    </button>
                  </div>

                  <div class="list-filter__list-wrapper">
                    <ul style="background-color:#FFEDE1;" class="list-filter__list js-list-filter__list">
                      <li class="js-list-filter__item">
                        <label class="multi-select-v2__label padding-y-xs padding-x-sm cursor-pointer text-sm">
                          <span class="custom-checkbox multi-select-v2__checkbox margin-right-xxs pointer-events-none">
                            <input class="custom-checkbox__input js-multi-select-v2__input" type="checkbox" value="option-1" />
                            <span class="custom-checkbox__control" aria-hidden="true"></span>
                          </span>
                          <span class="js-list-filter__label">Physics</span>
                        </label>
                      </li>

                      <li class="js-list-filter__item">
                        <label class="multi-select-v2__label padding-y-xs padding-x-sm cursor-pointer text-sm">
                          <span class="custom-checkbox multi-select-v2__checkbox margin-right-xxs pointer-events-none">
                            <input class="custom-checkbox__input js-multi-select-v2__input" type="checkbox" value="option-2" />
                            <span class="custom-checkbox__control" aria-hidden="true"></span>
                          </span>
                          <span class="js-list-filter__label">chemistry</span>
                        </label>
                      </li>

                      <li class="js-list-filter__item">
                        <label class="multi-select-v2__label padding-y-xs padding-x-sm cursor-pointer text-sm">
                          <span class="custom-checkbox multi-select-v2__checkbox margin-right-xxs pointer-events-none">
                            <input class="custom-checkbox__input js-multi-select-v2__input" type="checkbox" value="option-3" />
                            <span class="custom-checkbox__control" aria-hidden="true"></span>
                          </span>
                          <span class="js-list-filter__label">Maths</span>
                        </label>
                      </li>

                      <li class="js-list-filter__item">
                        <label class="multi-select-v2__label padding-y-xs padding-x-sm cursor-pointer text-sm">
                          <span class="custom-checkbox multi-select-v2__checkbox margin-right-xxs pointer-events-none">
                            <input class="custom-checkbox__input js-multi-select-v2__input" type="checkbox" value="option-4" />
                            <span class="custom-checkbox__control" aria-hidden="true"></span>
                          </span>
                          <span class="js-list-filter__label">History</span>
                        </label>
                      </li>

                      <li class="js-list-filter__item">
                        <label class="multi-select-v2__label padding-y-xs padding-x-sm cursor-pointer text-sm">
                          <span class="custom-checkbox multi-select-v2__checkbox margin-right-xxs pointer-events-none">
                            <input class="custom-checkbox__input js-multi-select-v2__input" type="checkbox" value="option-5" />
                            <span class="custom-checkbox__control" aria-hidden="true"></span>
                          </span>
                          <span class="js-list-filter__label">Music</span>
                        </label>
                      </li>

                      <li class="js-list-filter__item">
                        <label class="multi-select-v2__label padding-y-xs padding-x-sm cursor-pointer text-sm">
                          <span class="custom-checkbox multi-select-v2__checkbox margin-right-xxs pointer-events-none">
                            <input class="custom-checkbox__input js-multi-select-v2__input" type="checkbox" value="option-6" />
                            <span class="custom-checkbox__control" aria-hidden="true"></span>
                          </span>
                          <span class="js-list-filter__label">Cooking</span>
                        </label>
                      </li>

                      <li class="js-list-filter__item">
                        <label class="multi-select-v2__label padding-y-xs padding-x-sm cursor-pointer text-sm">
                          <span class="custom-checkbox multi-select-v2__checkbox margin-right-xxs pointer-events-none">
                            <input class="custom-checkbox__input js-multi-select-v2__input" type="checkbox" value="option-7" />
                            <span class="custom-checkbox__control" aria-hidden="true"></span>
                          </span>
                          <span class="js-list-filter__label">Arts</span>
                        </label>
                      </li>

                      <li class="is-hidden js-list-filter__no-results-msg padding-md">
                        <p class="text-sm color-contrast-medium">No results</p>
                      </li>
                    </ul>
                  </div>
                </div>

              </div>

              <footer class="margin-top-xxs text-sm flex justify-between">
                <p class="color-contrast-medium"><span class="js-multi-select-v2__selected-items-counter">0</span>
                  selected</p>
                <button class="reset link cursor-pointer js-multi-select-v2__reset" type="button">Reset</button>
              </footer>
            </div>

            <h2>class Filters</h2>
            <div class="multi-select-v2 js-multi-select-v2">

              <div class="list-filter  js-list-filter">
                <div class="list-filter__form space-unit-rem bg-light radius-md shadow-sm inner-glow">
                  <div class="position-relative border-bottom border-contrast-lower no-js:is-hidden">
                    <input autocomplete="off" class="reset list-filter__search padding-sm text-sm js-list-filter__search" type="search" name="list-filter" id="list-filter" placeholder="Search">
                    <span class="list-filter__focus-marker" aria-hidden="true"></span>
                    <button class="reset list-filter__search-cancel-btn js-list-filter__search-cancel-btn right-sm js-tab-focus" type="button">
                      <svg class="block icon icon--xs" viewBox="0 0 16 16">
                        <title>Reset selection</title>
                        <path d="M8,0a8,8,0,1,0,8,8A8,8,0,0,0,8,0Z" fill="var(--color-contrast-medium)" />
                        <path d="M9.414,8l2.293-2.293a1,1,0,1,0-1.414-1.414L8,6.586,5.707,4.293A1,1,0,0,0,4.293,5.707L6.586,8,4.293,10.293a1,1,0,1,0,1.414,1.414L8,9.414l2.293,2.293a1,1,0,0,0,1.414-1.414Z" fill="var(--color-bg)" />
                      </svg>
                    </button>
                  </div>

                  <div class="list-filter__list-wrapper">
                    <ul style="background-color:#FFEDE1;" class="list-filter__list js-list-filter__list">
                      <li class="js-list-filter__item">
                        <label class="multi-select-v2__label padding-y-xs padding-x-sm cursor-pointer text-sm">
                          <span class="custom-checkbox multi-select-v2__checkbox margin-right-xxs pointer-events-none">
                            <input class="custom-checkbox__input js-multi-select-v2__input" type="checkbox" value="option-1" />
                            <span class="custom-checkbox__control" aria-hidden="true"></span>
                          </span>
                          <span class="js-list-filter__label">class 5</span>
                        </label>
                      </li>

                      <li class="js-list-filter__item">
                        <label class="multi-select-v2__label padding-y-xs padding-x-sm cursor-pointer text-sm">
                          <span class="custom-checkbox multi-select-v2__checkbox margin-right-xxs pointer-events-none">
                            <input class="custom-checkbox__input js-multi-select-v2__input" type="checkbox" value="option-2" />
                            <span class="custom-checkbox__control" aria-hidden="true"></span>
                          </span>
                          <span class="js-list-filter__label">class 6</span>
                        </label>
                      </li>

                      <li class="js-list-filter__item">
                        <label class="multi-select-v2__label padding-y-xs padding-x-sm cursor-pointer text-sm">
                          <span class="custom-checkbox multi-select-v2__checkbox margin-right-xxs pointer-events-none">
                            <input class="custom-checkbox__input js-multi-select-v2__input" type="checkbox" value="option-3" />
                            <span class="custom-checkbox__control" aria-hidden="true"></span>
                          </span>
                          <span class="js-list-filter__label">class 7</span>
                        </label>
                      </li>

                      <li class="js-list-filter__item">
                        <label class="multi-select-v2__label padding-y-xs padding-x-sm cursor-pointer text-sm">
                          <span class="custom-checkbox multi-select-v2__checkbox margin-right-xxs pointer-events-none">
                            <input class="custom-checkbox__input js-multi-select-v2__input" type="checkbox" value="option-4" />
                            <span class="custom-checkbox__control" aria-hidden="true"></span>
                          </span>
                          <span class="js-list-filter__label">class 8</span>
                        </label>
                      </li>

                      <li class="js-list-filter__item">
                        <label class="multi-select-v2__label padding-y-xs padding-x-sm cursor-pointer text-sm">
                          <span class="custom-checkbox multi-select-v2__checkbox margin-right-xxs pointer-events-none">
                            <input class="custom-checkbox__input js-multi-select-v2__input" type="checkbox" value="option-5" />
                            <span class="custom-checkbox__control" aria-hidden="true"></span>
                          </span>
                          <span class="js-list-filter__label">class 9</span>
                        </label>
                      </li>

                      <li class="js-list-filter__item">
                        <label class="multi-select-v2__label padding-y-xs padding-x-sm cursor-pointer text-sm">
                          <span class="custom-checkbox multi-select-v2__checkbox margin-right-xxs pointer-events-none">
                            <input class="custom-checkbox__input js-multi-select-v2__input" type="checkbox" value="option-6" />
                            <span class="custom-checkbox__control" aria-hidden="true"></span>
                          </span>
                          <span class="js-list-filter__label">class 10</span>
                        </label>
                      </li>

                      <li class="js-list-filter__item">
                        <label class="multi-select-v2__label padding-y-xs padding-x-sm cursor-pointer text-sm">
                          <span class="custom-checkbox multi-select-v2__checkbox margin-right-xxs pointer-events-none">
                            <input class="custom-checkbox__input js-multi-select-v2__input" type="checkbox" value="option-7" />
                            <span class="custom-checkbox__control" aria-hidden="true"></span>
                          </span>
                          <span class="js-list-filter__label">class 11-12</span>
                        </label>
                      </li>

                      <li class="is-hidden js-list-filter__no-results-msg padding-md">
                        <p class="text-sm color-contrast-medium">No results</p>
                      </li>
                    </ul>
                  </div>
                </div>

              </div>

              <footer class="margin-top-xxs text-sm flex justify-between">
                <p class="color-contrast-medium"><span class="js-multi-select-v2__selected-items-counter">0</span>
                  selected</p>
                <button class="reset link cursor-pointer js-multi-select-v2__reset" type="button">Reset</button>
              </footer>
            </div>
        </div>









      </div>
    </div>



    <div class="col-sm-9">

      <div class="row" style="margin-bottom: 20px;">
        {% for storders in finalprofiletutorder %}
        <div class="col-sm-3">
          <div class="container">
            <div class="card">
              <a href="tutorprofile/{{storders.idtutor}}"><div class="imgBx">
                <img src="{{storders.inputpict}}">
              </div></a>
              <div class="contentBx">
              <p class="teacher-name"> <b>{{storders.inputfirstnamet}} {{storders.inputlastnamet}}</b><br>
            
                <p class="teacher-name">{{storders.inputcoursest}}</p>
                </p>

               
                <div class="phone-no">
                  <img style="height: 25px; width:25px; margin-left:20px;float: left;" src="{% static 'images/clock.png' %}" alt="">
                  <p style="float: left;">{{storders.inputtimet}}</p>

                </div>
                <div class="phone-no">
                  <img style="height: 25px; float: left; width:25px; margin-left:20px;" src="{% static 'images/phone.png' %}" alt="">
                  <p style="float: left;">{{storders.inputphonet}}</p>

                </div>
                <a href="/registernewcourse">Register</a>
              </div>
            </div>
          </div>

        </div>

       
{% endfor %}
        <!--stop-->

      </div>


    </div>





  <div class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8">
          <div style="margin: 10px;">
            <h2 style="color: #FFEDE1;">Tutfinder</h2>
            <p class="contact-us">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus beatae aliquid nam
              consequuntur minus ut! Esse ex adipisci tempore iste ab nihil ad temporibus dolorum, veniam
              accusantium itaque aperiam nobis.</p>
            <h4 class="contact-us">Address</h4>
          </div>

        </div>
        <div class="col-sm-4">
          <h4 style="margin: 10px;" class="contact-us footer-text-color">Contact us</h4>
          <form action="submit">
            <div class="mb-3">

              <input style="background-color:#FFEDE1; margin: 10px;" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">

              <textarea style="background-color:#FFEDE1; margin: 10px;" class="form-control input-textbox" id="exampleFormControlTextarea1" rows="3" placeholder="message"></textarea>
            </div>
            <button style="background-color:#FFEDE1; color:#341D30; margin: 10px;" class="btn btn-primary" type="submit">
              Sumbit</button>
          </form>




        </div>



      </div>
    </div>
  </div>





  <script src="https://unpkg.com/codyhouse-framework/main/assets/js/util.js"></script>
  <script src="{% static 'js/searchscript.js' %}"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
    < /body>

    <
    /html>